<script src="https://kit.fontawesome.com/e3d083a9fd.js" crossorigin="anonymous"></script>
<p id="notice"></p>
<div class='container'>
  <div class='row'>
    <h1 class="px-3 mx-auto">Welcome to <i class="fas fa-book"></i><strong>Bookers</strong>!</h1>
  </div>
</div>